<% if session[:success]%>
  <p class="success"><%= session.delete(:success) %></p>
<% end %>

<section class="contacts-container">
  <ul>
    <% @contacts.each do |contact|%>
      <div class="contact">  
        <li><p><%= contact[:name] %></p></li>
        <li><p><%= contact[:email] %></p></li>
        <li><p><%= contact[:tel] %></p></li>
      </div>
    <% end %>
  </ul>
</section>

<a href="/contacts/new" class="new-contact">New Contact</a>

