<style>
h1 {
  background: red;
}

.contact {
  margin-top: 20px;
}
</style>

<h1>CONTACTS APP</h1>

<ul>
  <% @contacts.each do |contact|%>
    <div class="contact">  
      <li><p><%= contact[:name] %></p></li>
      <li><p><%= contact[:phone_number] %></p></li>
      <li><p><%= contact[:email_address] %></p></li>
    </div>
  <% end %>
</ul>

<a href="/contacts/new">New Contact</a>

