<% if @error_msg %>
  <p><%= @error_msg %></p>
<% end %>

<h1>NEW CONTACT</h1>

<form action="/contacts" method="post" class="new-contact">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="">     
  </div>
  <div>
    <label for="name">Email address:</label>
    <input type="email" name="email" id="email" value="">     
  </div>
  <div>
    <label for="name">Phone:</label>
    <input type="tel" name="tel" id="tel" value="">     
  </div>
  <div>
    <input type="submit" value="Create Contact">
  </div>
</form>

<!--
<input type="" name="" value="">
</form>
